www.aquaregia.de {
  redir https://aquaregia.de{uri}
}

aquaregia.de {
  root /var/www/aquaregia/web/
  gzip

  log /var/www/aquaregia/log/access.log {
    rotate_size 100
    rotate_age 96
    rotate_keep 10
    rotate_compress
  }

  errors /var/www/aquaregia/log/error.log {
    rotate_size 100
    rotate_age 96
    rotate_keep 10
    rotate_compress
  }
}
