@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('font/OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Shadow'), local('LondrinaShadow-Regular'), url('font/LondrinaShadow.woff') format('woff');
}

html,
body {
  height: 100%;
  background-image: url('noisy.png');
  font-family: 'Open Sans', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.page-header {
  border-bottom: 1px solid #C9C9C9;
}


.page-header h1 {
  font-size: 900%;
  font-family: 'Londrina Shadow', Georgia, sans-serif;
}

@media only screen and (max-width: 640px) {
  .page-header h1 {
    font-size: 500%;
  }
}

.page-header p {
  font-size: 22px;
}
.ribbon-wrapper {
width: 172px;
height: 172px;
overflow: hidden;
position: absolute;
top: -4px;
right: 0px;
}

.ribbon {
  font: bold 16px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: 0px;
  top: 35px;
  width: 235px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
    white-space: nowrap;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 75%; /* 56.25%; 16:9 */
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}